/* 共通パーツ */
html {
  background-image: url("../img/bg.jpg");
  height:100%; 
  background-size: cover;
  /*font-family: 'arial', 'Avenir', 'Corbel', 'Osaka', 'sans-serif';*/
}
body {
  letter-spacing: 1px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
.footer {
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  height: 5%;
  background-image: url("../img/book_bg.jpg");
  /*text-align: center;*/
  vertical-align: middle;
  color: white;
  font-size: 20px;
}
.book_img {
  position: absolute;
  height: 80%;
  left: 2%;
  top: 10%;
}
.book_arrow_img {
  position: absolute;
  height: 80%;
  right: 2%;
  top: 10%;
}
.footer p {
  position: absolute;
  left: 15%;
  font-weight: bold;
  font-size: 15px;
  line-height: 10px;
}

#main_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.top_transition {
  display: none;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.role_transition {
  display: none;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.answer_start_inner,.one_point_start_inner {
  position: absolute;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 22px;
  top: 25%;
  left: 30%;
  border-width: 1px;
  margin: 0 auto;
  padding: 0 auto;
}
.theme_wrapper {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 90%;
  height: 46%;
  background-color: white;
  border-radius: 5px;
  float: left;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
.theme_wrapper:before {
  content: "";
  position: absolute;
  top: -30.5px;
  left: 33%;
  width: 34%;
  height: 35px;
  background-color: white;
  /*
  border-radius: 55px 55px 0 0;
  */
  border-top-left-radius: 140px 90px;
  border-top-right-radius: 140px 90px;
  border-top: 1.5px solid #ffb168;
  border-right: 1.5px solid #ffb168;
  border-left: 1.5px solid #ffb168;
  z-index: 99;
}
.theme_wrapper:after {
  content: "";
  position: absolute;
  top: -33px;
  left: 32.5%;
  width: 36%;
  height: 35px;
  background-color: white;
  /*
  border-radius: 56px 56px 0 0;
  */
  border-top-left-radius: 140px 90px;
  border-top-right-radius: 140px 90px;
  z-index: 98;
}
.theme_bottom_text {
  position: absolute;
  width: 100%;
  bottom: 0%;
  margin: 0 auto;
}
.theme_img {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  max-height: 50px;
}
.theme_img img {
  max-height: 50px;
}
.day_part {
  position: absolute;
  left: 44%;
  top: -32px;
  font-size: 18px;
  color: #fa8900;
  font-weight: bold;
  z-index: 100;
}
.current_day_line {
  position: absolute;
  top: 55px;
  left: 41%;
  width: 61px;
  border-bottom: 1.5px solid #fa8900;
}
.border_part {
  position: absolute;
  top: 4.5px;
  left: 1.2%;
  height: 78%;
  width: 96.5%;
  border: 1.5px solid #ffb168;
  border-radius: 5px;
}
#category_table_box .mCSB_scrollTools,#select_table_box .mCSB_scrollTools,#select_table_box_ans,#one_point_question_table_box .mCSB_scrollTools {
  right: 3%;
}
.top_radius {
  border-radius: 5px 5px 0 0;
}
.bottom_radius {
  border-radius: 0 0 5px 5px;
}
.normal_radius {
  border-radius: 5px;
}
.listening_en_inner {
  display: table;
  text-align: center;
  border-radius: 10px;
  width: 95%;
  font-weight: 700;
  margin: 0 auto;
  height: 60px;
  background: #ffe7c7;
  border: solid 1px;
  border-color: #ffcc8a;
}
.listening_en_inner p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}
.one_point_inner {
  display: table;
  text-align: center;
  border-radius: 10px;
  width: 95%;
  font-weight: 700;
  margin: 0 auto;
  height: 60px;
  background: #ffe7c7;
  border: solid 1px;
  border-color: #ffcc8a;
}
.one_point_inner p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}
.text_block_ja {
  display: table;
  text-align: left;
  border-radius: 10px;
  width: 95%;
  font-weight: 700;
  margin: 0 auto;
  height: 60px;
  background: #f5f5f5;
}
.text_block_ja p {
  display: table-cell;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  vertical-align: middle;
}
.text_block_en {
  display: table;
  text-align: left;
  width: 95%;
  margin: 0px auto;
  font-weight: 700;
}
.text_block_en p {
  display: table-cell;
  text-align: left;
  font-size: 19px;
  padding-top: 15px;
  padding-left: 10px;
  vertical-align: middle;
}
.text_block_en_phonetic {
  display: table;
  text-align: left;
  width: 95%;
  margin: 0px auto;
  font-weight: 500;
}
.text_block_en_phonetic p {
  display: table-cell;
  text-align: left;
  font-size: 11px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 15px;
  vertical-align: middle;
}
.question_mark {
  display: inline-block;
  width: 50px;
  background: linear-gradient(0deg, #ffea8a, #fff8d6);
  border: solid 1px;
  border-color: #ffea8a;
  border-radius: 5px;
  color: #c9a403;
}
.question_mark_text {
  display: inline-block;
  background: linear-gradient(0deg, #ffea8a, #fff8d6);
  border: solid 1px;
  border-color: #ffea8a;
  border-radius: 5px;
  color: #c9a403;
  padding: 0px 7px 0px 7px;
  margin: 0px;
}
.answer_mark {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 100px;
  height: 40px;
  background: linear-gradient(0deg, #ffea8a, #fff8d6);
  border: solid 1px;
  border-color: #ffea8a;
  border-radius: 5px;
  color: #c9a403;
  margin: 0px;
  padding: auto;
}
.answer_front {
  display: inline-block;
  padding-right: 5px;
  padding: 20px 5px 7px;
  margin: 0px;
}
.answer_rear {
  display: inline-block;
  padding-left: 5px;
  padding: 20px 0 5px 7px;
  margin: 0px;
}
.question_text {
  display: inline-block;
  padding-left: 5px;
}
.left_table_img {
  float: left;
  left: 0%;
  height: 100%;
  width: 20%;
}
.right_table_text {
  float: left;
  text-align: left;
  margin: 0px auto;
  left: 20%;
  height: 100%;
  width: 80%;
}
.select_table {
  border-collapse:separate;
  border-spacing: 5px;
  padding-top: 10px;
  width: 100%;
}
.select_table td {
  border-radius: 5px;
  padding: 20px 0 7px 20px;
  background-color: white;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
.select_table .done {
  background-color: rgb(204, 204, 204);
}
.select_table_detail {
  border-collapse:separate;
  border-spacing: 5px;
  padding-top: 10px;
  width: 100%;
}
.answer_select_button .answer_front {
  margin: 0px;
  padding: 20px 5px 7px;
}
.answer_select_button .answer_rear {
  margin: 0px;
  padding: 20px 0 7px 5px;
}
.select_table_detail td {
  border-radius: 5px;
  padding-left: 20px;
  /*
  padding: 6px 0 6px 6px;
  padding: 20px 0 7px;
  */
  background-color: white;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
.select_table_detail .done {
  background-color: rgb(204, 204, 204);
}
.select_table_qes {
  border-collapse:separate;
  border-spacing: 5px;
  padding-top: 10px;
  width: 100%;
}
.select_table_qes td {
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  background-color: white;
  border:solid 1px #faf6f1;
}
#select_word_table_box .base_td {
  padding: 6px 0;
}
.back_button {
  position: relative;
  top: 0%;
}
.back_button img {
  height: 45px;
}
.back_button p {
  position: absolute;
  top: 0%;
  line-height: 1em;
  color: white;
  padding-left: 40px;
}

.top_back_button {
  position: absolute;
  top: 0%;
  right: 0%;
}
.top_back_button img {
  height: 45px;
}
.top_back_button p {
  position: absolute;
  top: 0%;
  line-height: 1em;
  color: white;
  padding-left: 25px;
}


.back_text {
  position: absolute;
  display: inline-block;
  left: 15%;
  margin: 5px 0;
}
.sound_wrapper {
  position: absolute;
  height: 60px;
  width: 60px;
  /*
  border-radius: 30px;
  background: #ff7c01;
  */
}
.sound_img {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  /*
  height: 30px;
  */
  display: table-cell;
  /*
  padding-top: 15px;
  padding-left: 12px
  */
}
#role_select_table:before,#question_table:before,#answer_table:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  border: 20px solid transparent;
  border-top: 20px solid white;
}

/* スタート画面 */
.talk_start_block {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
}
.role_select_block {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height : 85%;
}
.top_img {
  position: absolute;
  transition-duration: 1.0s;
  top: 20%;
  left: 0;
  width: 100%;
}
.top_role {
  position: absolute;
  width: 100%;
  top: 30%;
  height: 50%;
}
#top_left_mother {
  position: absolute;
  width: 20%;
  left: 2%;
  bottom: 0%;
}
#top_left_father {
  position: absolute;
  width: 20%;
  left: 27%;
  bottom: 0%
}
#top_right_boy {
  position: absolute;
  height: 180px;
  left: 52%;
  bottom: 0%;
}
#top_right_girl {
  position: absolute;
  height: 170px;
  left: 72%;
  bottom: 0%;
}
.how_to_img {
  margin: 0 auto;
  height: 50px;
  padding-top: 10px;
}
#how_to_area {
  position: absolute;
  left: 2.5%;
  width: 95%;
}
#how_to_englira {
  position: absolute;
  top: 30px;
  left: 0;
  text-align: center;
  width: 100%;
  height: 110px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 5px;
}
#how_to_englira td {
  border-radius: 5px;
  width: 30%;
  text-align: center;
  background-color: white;
  font-weight: 700;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
#how_to_englira td p {
  margin-top: 0;
  margin-bottom: 10px;
}

.gear {
  position: absolute;
  top: 0;
  right: 10%;
  height: 55px;
}

.top_next {
  /*position: absolute;*/
  position: relative;
  /*text-align: center;*/
  width: 80%;
  /*height: 30%;*/
  top: 0%;
}

.top_next img {
  /*width: 80%;*/
  height: 55px;
  padding-left: 40px;
}

.top_next p {
  position: absolute;
  top: 45%;
  left: 50%;
  color: white;
  font-weight: bold; 
  font-size: 1.3em;
  font-family :Quicksand, sans-serif;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.next_btn_wrapper {
  position: relative;
  width: 100%;
}

.img_caption {
  position: absolute;
}

.img_caption p {
  text-align: center;
}

.role_next {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 85%;
  left: 0%;
}
.role_next_inner {
  position: relative;
  width: 100%;
}

.role_next_inner img {
  width: 80%;
}

.role_next_inner p {
  position: absolute;
  top: 45%;
  left: 45%;
  color: white;
  font-weight: bold; 
  font-size: 1.2em;
  font-family :Quicksand, sans-serif;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.top_start_outer {
  position: absolute;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  display: table;
  margin-top: 15px;
  width: 70%;
  height: 4rem;
  color: white;
  top: 73%;
  left: 15%;
  /*background: linear-gradient(90deg, #ff8801, #ff9f32);*/
  background: linear-gradient(90deg, #ff7c01, #ffb168);  
}
.role_start_outer {
  position: absolute;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  display: table;
  margin-top: 15px;
  width: 70%;
  height: 4rem;
  color: white;
  top: 73%;
  left: 15%;
  /*background: linear-gradient(90deg, #ff8801, #ff9f32);*/
  background: linear-gradient(90deg, #ff7c01, #ffb168);  
}
.top_start_inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 22px;
  border-width: 1px;
  margin: 0 auto;
  padding: 0 auto;
}
.role_start_inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 22px;
  border-width: 1px;
  margin: 0 auto;
  padding: 0 auto;
}
.top_start_inner_border {
  position: absolute;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: #ffb168;
  border-width: 1px;
  top: 4%;
  left: 1%;
  width: 97%;
  height: 89%;
  margin: 0 auto;
  padding: 0 auto;
}
.role_start_inner_border {
  position: absolute;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: #ffb168;
  border-width: 1px;
  top: 4%;
  left: 1%;
  width: 97%;
  height: 89%;
  margin: 0 auto;
  padding: 0 auto;
}
#role_select_table {
  position: absolute;
  top : 0;
  left : 3%;
  border-collapse:separate;
  border-spacing: 5px 0;
  width: 94%;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
#role_select_table td {
  text-align: center;
  padding: 18px 0;
  background-color: white;
}
.text_block_role {
  display: table;
  text-align: center;
  width: 95%;
  margin: 0px auto;
}
.text_block_role .captal {
  display: table-cell;
  text-align: center;
  font-size: 24px;
  color: #0392e6;
  padding-top: 15px;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: 900;
}
.text_block_role .small {
  display: table-cell;
  text-align: ceter;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: 700;
}
/* タイトル画面 */
.talk_category_block {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 75%;
  background-color: white;
  float: left;
  border-radius: 5px;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
.talk_category_block:before {
  content: "";
  position: absolute;
  top: -32px;
  left: 33%;
  width: 34%;
  height: 35px;
  background-color: white;
  /*
  border-radius: 55px 55px 0 0;
  */
  border-top-left-radius: 140px 90px;
  border-top-right-radius: 140px 90px;
  border-top: 1.5px solid #ffb168;
  border-right: 1.5px solid #ffb168;
  border-left: 1.5px solid #ffb168;
  z-index: 99;
}
.talk_category_block:after {
  content: "";
  position: absolute;
  top: -34px;
  left: 32.5%;
  width: 36%;
  height: 35px;
  background-color: white;
  /*
  border-radius: 56px 56px 0 0;
  */
  border-top-left-radius: 140px 90px;
  border-top-right-radius: 140px 90px;
  z-index: 98;
}
#current_border_part {
  position: absolute;
  top: 3px;
  left: 1.2%;
  height: 98%;
  width: 96.5%;
  border: 1.5px solid #ffb168;
  border-radius: 5px;
}
#talk_top_up {
  text-align: center;
  font-size: 14px;
}
#day_part {
  position: absolute;
  left: 44%;
  top: -32px;
  font-size: 18px;
  color: #fa8900;
  font-weight: bold;
  z-index: 100;
}
#current_day {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #fa8900;
}
#current_day_line {
  position: absolute;
  top: 12%;
  left: 41%;
  width: 61px;
  border-bottom: 1.5px solid #fa8900;
}
#talk_top_down {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#talk_top_down_desc {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 65%;
}
.talk_top_wrapper {
  position: relative;
  text-align: center;
}
#select_table_box {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 60%;
}
#category_table {
  border-collapse:separate;
  border-spacing: 5px;
  padding-top: 10px;
  width: 100%;
}
#category_table td {
  width: 20%;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  background-color: rgb(204, 204, 204);
  color: white;
}
#category_table .current {
  background-color: rgb(66, 165, 247);
}
#category_table .future {
  color: rgb(173, 173, 173);
  background-color: rgb(244, 249, 253);
}
/* 親の選択画面 */
.talk_transition {
  display: none;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#current_day_question {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #fa8900;
}
#theme_bottom_text_question {
  font-size: 13px;
  margin-bottom: 5px;
  text-align: center;
}
#theme_text_question {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#category_table_box {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  height: 75%;
}
#select_table_box_ans {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 60%;
}
.question_select_block {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 70%;
}
/* 親の会話画面 */
.question_transition {
  display: none;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.answer_start_outer {
  position: relative;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  display: table;
  width: 70%;
  height: 4rem;
  color: white;
  left: 15%;
  background: linear-gradient(90deg, #00da2f, rgb(59, 241, 84));
}
.answer_start_inner_border {
  position: absolute;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: rgb(59, 241, 84);
  border-width: 1px;
  top: 4%;
  left: 1%;
  width: 97%;
  height: 89%;
  margin: 0 auto;
  padding: 0 auto;
}
.question_detail_block {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 85%;
}
#question_table_box {
  width: 100%;
}
#question_table {
  border-collapse:separate;
  border-spacing: 5px 0;
  width: 94%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  padding: 18px 0;
  background-color: white;
  border:solid 1px #faf6f1;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}

#question_img {
  max-height: 120px;
}
.question_start {
  /*top: 65%;*/
  text-align: center;
  padding-top: 40px;
  line-height: 0;
  width: 100%;
}
#question_start_img {
  padding-top: 10px;
  max-height: 70px;
}
/* 子の選択画面 */
.answer_select_transition {
  display: none;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#current_day_answer {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #fa8900;
}
#theme_bottom_text_answer {
  font-size: 11px;
  margin-bottom: 5px;
  text-align: center;
}
#theme_text_answer {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.answer_select_block {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 70%;
}
/* ???選択画面 */
.close_button {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff7c01;
  border: 1px solid white;
  z-index: 101;
}
.close_button span::before,
.close_button span::after {
	display: block;
	content: "";
	position: absolute;
	top: 54%;
	left: 62%;
	width: 60%;
	height: 6%;
	margin: -8% 0 0 -42%;
	background: white;
}
.close_button span::before {
	transform: rotate(-45deg);
}
.close_button span::after {
	transform: rotate(45deg);
}
.answer_detail_select_transition {
  display: none;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.answer_detail_select_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 11, 59, 0.5);
}

/* funami modal test */
.answer_detail_select_modal_transition {
  display: none;
}
.answer_detail_modal_content {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  background-color: white;
  border-radius: 5px;
}
.modal_text_up,.modal_text_down {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#modal_text_down_content {
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
}
.select_modal_table_wrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
#select_modal_table {
  border-collapse:separate;
  border-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  margin: 0 auto;
}
#select_modal_table td {
  text-align: center;
  border-radius: 5px;
  padding: 20px 0 7px 0px;
  color: #c9a403;
  background: linear-gradient(0deg, #ffea8a, #fff8d6);
}
.modal_text_up p {
  font-size: 16px;
  font-weight: bold;
}
.modal_text_inner {
  padding-top: 10px;
  margin: 0px;
  display: inline-block;
}
.modal_text_inner_down {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.answer_detail_select_block {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 85%;
}
.answer_detail_select_desc {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

#answer_detail_select {
  text-align: center;
  font-size: 15px;
  margin: 0px;
}

#select_word_table_box {
  position: absolute;
  width: 100%;
  height: 40%;
  padding-top: 10px;
}

#select_word_table {
  border: solid 1px;
  border-color: #ffea8a;
  border-radius: 5px;
  background: #fff8d6;
  border-collapse:separate;
  border-spacing: 5px;
  width: 94%;
  margin: 0 auto;
}

#select_word_table td {
  width: 50%;
  border-radius: 5px;
  text-align: center;
  padding: 18px 0;
  background-color: white;
  border:solid 1px #ffea8a;
  color: #c9a403;
}
#select_word_table_base {
  border-collapse:separate;
  border-spacing: 5px 0px;
  width: 100%;
}
#select_word_table_base td {
  text-align: center;
  padding: 18px 0;
  background-color: white;
  border:solid 1px #faf6f1;
}
.answer_detail_select_text {
  width: 100%;
}
#answer_detail_select_word {
  text-align: left;
  font-size: 15px;
  margin: 0;
  padding-left: 6px;
}
.answer_detail_select_role {
  text-align: center;
  width: 100%;
}
#answer_select_detail_img {
  max-height: 90px;
}
/* 子の会話画面 */
.answer_detail_transition {
  display: none;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.one_point_start_outer {
  position: relative;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  display: table;
  width: 70%;
  height: 4rem;
  color: white;
  left: 15%;
  background: linear-gradient(90deg, #fa2003, #ff715f);
}
.one_point_start_inner_border {
  position: absolute;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: #ff715f;
  border-width: 1px;
  top: 4%;
  left: 1%;
  width: 97%;
  height: 89%;
  margin: 0 auto;
  padding: 0 auto;
}
.answer_detail_block {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 85%;
}
#answer_table_box {
  width: 100%;
}
#answer_table {
  border-collapse:separate;
  border-spacing: 5px 0px;
  width: 94%;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  padding: 18px 0;
  background-color: white;
  border:solid 1px #faf6f1;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}

.answer_detail_role {
  padding-top: 15px;
  width: 100%;
  text-align: center;
}
#answer_detail_img {
  max-height: 90px;
}
.one_point_start {
  padding-top: 40px;
  text-align: center;
  line-height: 0;
  width: 100%;
}
/* ワンポイント画面 */
.one_point_block {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 85%;
}
.one_point_transition {
  display: none;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.restart_outer {
  position: relative;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  display: table;
  width: 80%;
  height: 4rem;
  color: white;
  left: 10%;
  background: linear-gradient(90deg, #ff7c01, #ffb168);
}
.restart_inner {
  position: absolute;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 22px;
  top: 25%;
  left: 15%;
  border-width: 1px;
  margin: 0 auto;
  padding: 0 auto;
}
.restart_inner_border {
  position: absolute;
  text-align: center;
  border-radius: 35px;
  border-style: solid;
  border-color: #ffb168;
  border-width: 1px;
  top: 4%;
  left: 1%;
  width: 97%;
  height: 89%;
  margin: 0 auto;
  padding: 0 auto;
}
.theme_wrapper_one_point {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 90%;
  height: 20%;
  background-color: white;
  border-radius: 5px;
  float: left;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
.theme_wrapper_one_point:before {
  content: "";
  position: absolute;
  top: -31px;
  left: 33%;
  width: 34%;
  height: 35px;
  background-color: white;
  /*
  border-radius: 55px 55px 0 0;
  */
  border-top-left-radius: 140px 90px;
  border-top-right-radius: 140px 90px;
  border-top: 1.5px solid #ffb168;
  border-right: 1.5px solid #ffb168;
  border-left: 1.5px solid #ffb168;
  z-index: 99;
}
.theme_wrapper_one_point:after {
  content: "";
  position: absolute;
  top: -34px;
  left: 32.5%;
  width: 36%;
  height: 35px;
  background-color: white;
  /*
  border-radius: 56px 56px 0 0;
  */
  border-top-left-radius: 140px 90px;
  border-top-right-radius: 140px 90px;
  z-index: 98;
}
#current_day_one_point {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #fa8900;
}
.current_day_line_one_point {
  position: absolute;
  top: 55px;
  left: 41%;
  width: 61px;
  border-bottom: 1.5px solid #fa8900;
}
.border_part_one_point {
  position: absolute;
  top: 4px;
  left: 1.2%;
  height: 90%;
  width: 96.5%;
  border: 1.5px solid #ffb168;
  border-radius: 5px;
}
#theme_text_one_point {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#one_point_question_table_box {
  position: absolute;
  width: 100%;
  height: 65%;
  top: 25%;
}
#one_point_question_table {
  border-collapse:separate;
  border-radius: 5px;
  /*border:solid 2px #fa8900;*/
  border-spacing: 0px;
  width: 96%;
  margin: auto;
  margin-top: 10px;
  z-index: 2;
}
#one_point_question_table td {
  text-align: center;
  padding: 10px 0;
  background-color: white;
  border:solid 1px #faf6f1;
  z-index: 1;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
#one_point_answer_table_box {
  position: absolute;
  width: 96%;
  top: 40%;
}
#one_point_answer_table {
  border-collapse:separate;
  border-radius: 5px;
  /*border:solid 2px #fa8900;*/
  border-spacing: 0px;
  width: 96%;
  margin: auto;
  margin-top: 10px;
  z-index: 2;
}
#one_point_answer_table td {
  text-align: center;
  padding: 10px 0;
  background-color: white;
  border:solid 1px #faf6f1;
  z-index: 1;
  -webkit-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}
.restart {
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
#restart_img {
  max-height: 70px;
}

/*
#talk_top_img {
  max-height: 90px;
}
*/

/*
#top_next_mongon {
  font-size: 12px;
  padding-bottom: 20px;
}
*/

/*
.talk_top_role {
  position: absolute;
  text-align: center;
  top: 5%;
  width: 100%;
}
*/

/*
.select_table_box {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 75%;
}
*/

/*
#category_table td:hover {
  background-color: rgba(212, 241, 243, 0.555);
  border:solid 1px #fcfcfc;
}
*/
/*
#talk_select_up {
  text-align: center;
  font-size: 14px;
}

#talk_select_down {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}
*/
/*
#select_table_box {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 20%;
}*/

/*
#select_table td:hover {
  background-color: rgba(212, 241, 243, 0.555);
  border:solid 1px #fcfcfc;
}
*/

/*
.en_voice {
  margin : 0 auto;
  border-collapse:separate;
  border-spacing: 0px;
  border:solid 1px #faf6f1;
  width: 96%;
  border-radius: 5px;
  background-color: rgb(250, 249, 225);
}

.listening_img {
  margin: 0 auto;
  width: 96%;
}

.question_role {
  width: 100%;
  padding-top: 10px;
  top: 50%;
}
*/
/*
.answer_top_question_text {
  position: absolute;
  text-align: center;
  top: 0%;
  width: 100%;
  height: 18%;
}
*/
/*
.answer_top_role {
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}
*/
/*
#answer_top_img {
  max-height: 90px;
}
*/
/*
#question_top_img {
  max-height: 50px;
}
*/
/*
.answer_select_desc {
  position: absolute;
  top: 33%;
  height: 65%;
  width: 100%;
}
*/
/*
#answer_select_up {
  text-align: center;
  font-size: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
*/
/*
#answer_select_down {
  margin-top: -10px;
  text-align: center;
  font-size: 14px;
}
*/
/*
.one_point_text {
  position: absolute;
  padding: 0px;
  top: 0%;
  width: 100%;
}
*/
/*
#one_point_top {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  font-weight: bold;
  color: #fa8900;
}
*/
/*
#one_point_start_img {
  max-height: 70px;
}
*/

/** 
* 共通パーツ系
**/
